@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;700;800&display=swap');

$roboto: 'Roboto Condensed', sans-serif;
$bebas: 'Bebas Neue', cursive;
$echo: 'Exo 2', sans-serif;
$mons: 'Montserrat', sans-serif;
$mark: 'Caveat', cursive;
$cuprum: 'Cuprum', sans-serif;
$robotoSans: 'Podkova', serif;
$podkova: 'Podkova', serif;
//colors

$blue: #0072bc;
$grey: #b7b7b7;
$main: #252525;
$orange: #f7941d;
$white: #ffffff;
$violet: #201547;
$light-blue: #eceff1;